*,
*before,
*after{
    box-sizing: border-box;
}

:root{

    --prim-dark:#0a47a8;
    --prim-light:#e1e3e6;
}

.navigation-bar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem;
    height: 5rem;
    align-items: center;
    background-color: var(--prim-dark);
    color: var(--prim-light);
    box-shadow: 2px 2px 2px black;
    
}


.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.nav-button{

    width: fit-content;
    padding: 10px 20px;
    color: var(--prim-light);
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid var(--prim-light);
    
    margin: 10px;
}

.nav-button:hover{
    background-color: var(--prim-light);
    border: 1px solid var(--prim-dark);
    color: var(--prim-dark);
}

.nav-button-login{

    width: fit-content;
    padding: 10px 20px;
    color: var(--prim-dark);
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid var(--prim-dark);
    
    margin: 10px;
    background-color: var(--prim-light);

}

.nav-button-login:hover{

    color: var(--prim-light);
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid var(--prim-light);
    background-color: var(--prim-dark);

}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
    padding: 10px 10px;
    text-decoration: none;
     
}

.logo h1, .logo p{
    padding: 0px;
    margin: 0px;
    color: var(--prim-dark);
    cursor: pointer;
    width:fit-content;
    
}














































































































































































































































































































































































