*,
*before,
*after{
    box-sizing: border-box;
}

:root{

    --prim-dark:#0a47a8;
    --prim-light:#e1e3e6;
}

.navigation-bar{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100rem;
    height: 3rem;
    align-items: center;
    background-color: var(--prim-dark);
    color: var(--prim-light);
    margin: 0 auto;
    

    
}


.button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    
}

.nav-button{

    width: fit-content;
    height: auto;
    padding: 10px 20px;
    color: var(--prim-light);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    
    margin: 0 auto;
}

.nav-button:hover{
    background-color: var(--prim-light);
    color: var(--prim-dark);
}

.nav-button-login{

    width: fit-content;
    padding: 0.5rem;
    height: auto;
    color: var(--prim-dark);
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--prim-light);

}

.nav-button-login:hover{

    color: var(--prim-light);
    text-decoration: none;
    font-size: 1.5rem;
    background-color: var(--prim-dark);
}


.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100rem;
    background-color: white;
    text-decoration: none;
    margin: 0 auto;
    text-align: left;
      
     
}

.logo-title{
    padding: 10px 20px;  

}

.logo h1, .logo p{

    color: var(--prim-dark);
    cursor: pointer;
    width:fit-content;
    margin: 0;
    
}














































































































































































































































































































































































