*,
*before,
*after{
    box-sizing: border-box;   
}

:root{
    --prim-dark:#0a47a8;
    --prim-light:#e1e3e6;
}

.series-wrapper{
    display: block;
    width: 100rem;
    height: 100%;
    margin:0 auto;
    background-color: var(--prim-light);

    box-shadow: 1px 1px 1px 2px black;
}
.series-wrapper h1{

    text-align: center;    
    width: 100%;
    padding: 1rem 0px;
    background-color: var(--prim-dark);
    color: white;
}

.series-wrapper h3{
    text-align: left;
    border-bottom: 1px solid;
    width: 70rem;
    padding: 5px 5px;
}

.series-sub-content-wrapper{
    
    display: flex;
    flex-direction: row;
    
}

.series-sub-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95rem;
    width: 15rem;
    background-color: white;
    margin: 0.5rem;
    
}

.series-information{

    display: flex;
    flex-direction: column;
    text-align: left;
    width: 13rem;
    height: fit-content;
}

.description{

    margin: 1px auto;
    padding: 10px;
    width: 70rem;
}

img{
    margin: 1rem auto;
    box-shadow: 1px 2px 2px black;
}

.series-wrapper h4{
    border-bottom: 1px solid black;
    width: 13rem;
    padding: 5px ;
}

.item-info{
    font-weight: 700;
    font-size: 0.8rem;
}

.info-text{
    font-weight: 400;
}

.info-wrapper{

    display: block; 
    width: 70rem;
    margin: 0 auto;
}

.ranking{

    display: flex;
    flex-direction: row;
    width: 70rem;
    height: 10rem;
    margin: 0 auto;
    
}

.ranking-stats{

    display:flex;
    flex-direction: column;
    width: 55rem;
    height: 10rem;
    border: 1px solid var(--prim-dark);
    margin-right: 10px;
    background-color: white;
    box-shadow: 2px 2px 1px black;
}

.ranking-pv{

    width: 15rem;
    height: 10rem;
    border: 1px solid var(--prim-dark);
    box-shadow: 2px 2px 1px black;

}

.stat-titles{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stat-score{

    border: 1px solid var(--prim-dark);
    height: 10rem;
    width: 15rem;
    margin: 0 auto;
    margin-right: 10px;
    background-color: white;
    box-shadow: 2px 2px 1px black;

}



.stat-titles h4 {

    border: none;

}


.cast-wrapper{
    display: flex;
    flex-direction: row;
    width: 70rem;
    min-height: 10rem;
    border: 1px solid var(--prim-dark);

}

.cast{
    width:35rem;
    min-height: 10rem;
    background-color: white;
}

.char{
    
    display: flex;
    flex-direction: row;
    width:inherit;
    height: 8rem;
    border: 1px solid var(--prim-dark);
}


