*,
*before,
*after{
    box-sizing: border-box;
    
}

:root{

    --prim-dark:#0a47a8;
    --prim-light:#e1e3e6;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 500px));
    margin: 0 auto;
}

.show-container{

    opacity: 0;
    height: 400px;
    width: 200px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--prim-dark);
    margin: 1rem;
    transition: all 0.3s;
    animation: fade-in 0.3s 0.3s ease-in-out forwards;
    box-shadow: 2px 2px 1px black ;
    border-radius: 0.25rem;
    
}

.show-container p{
    
    width:200px;
    height:100%;
    background-color: var(--prim-light);
    overflow: scroll;
    border-radius: 0.25rem;
}

.show-container img{
    position: relative;
    max-height: 15rem;
    max-width: 100%;

    min-width: 215px;
    min-height: 200px;
    border-radius: 0.25rem;
}
.show-container h3{
    padding: 0px;
    margin: 0 auto;
    border-bottom: 1px solid var(--prim-dark);
    padding: 0px 5px;
}

.show-container h4{
    font-style: italic;
    font-weight: 400;
    border: 1px solid var(--prim-dark);
    padding: 5px 10px;
    border-radius: 0.25rem;
}

.show-container:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes fade-in{
    from{opacity: 0;} to {opacity: 1;}
}




